@use '../styles/variables.module.scss';
@use '../styles/button.module.scss';
@use '../styles/paginate.module.scss';

.container{
    background-color: variables.$background;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frame1__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__input{
            width: 200px;
            height: 40px;
            border-radius: 40px;
            padding-left: 10px;
            margin-right: 20px;
            border: none;
        }

        &__icons {
            display: flex;
            justify-content: center;
        }

        &__icon {
            border-radius: 50%;
            background-color: variables.$white;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 10px;
            margin-left: 5px;
            margin-right: 5px;
            // border-radius: 50%;
            // display: inline-block;
            // line-height: 1.5;
            // text-align: center;
            // text-decoration: none;
            // vertical-align: middle;
            // padding: 0.375rem 0.75rem;
            // cursor: pointer;
            // //color: $text-color;
            // background-color: variables.$white;
            // border: none;
            // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        &__avatar {
            border-radius: 50%;
            background-color: variables.$grey2;
            align-items: center;
            width: 52px;
        }

        &__text {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 5px;
            padding-right: 5px;
            &__name {
                margin: 0px;
                white-space: nowrap;
            }
            &__role {
                font-size: 10px;
                margin: 0px;
            }
        }
    }

}

.frame2__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

    &__input {
        width: 230px;
        height: 40px;
        border-radius: 40px;
        padding-left: 10px;
        margin-right: 20px;
        border: none;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        &__button {
            &--outline {
                @extend .btn-outline;
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10.5px;
                padding-bottom: 10.5px;
                
                & svg {
                    fill: variables.$purple;
                    width: 15px;
                    height: 10px;
                    padding: 0px 5px;
                }

            }
            &--filled {
                @extend .btn-filled;
                margin-left: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
            }

            &--add {
                font-weight: 600;
                font-size: 20px;
                padding: 0px 5px;
            }
        }
    }
}

.frame3__content {
    background-color: variables.$white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;

    &__table {
        width: 100%;
        border-collapse: collapse;
        &__title {
            font-size: 15px;
            margin: 0px;
            color: variables.$text;
            font-weight: 600;
            text-align: left;
            padding: 20px 10px;
            border-bottom: 1px solid variables.$grey3;
        }
    
        &__body {
            text-align: left;
            font-size: 13px;

            &__container {
                border-bottom: 1px solid variables.$grey3;
                &__item {
                    padding: 20px 10px;
    
                    &--name {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 20px 10px;
                    }
    
                    &__avatar {
                        border-radius: 50%;
                        background-color: variables.$grey2;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        margin: 0 5px;
                    }
        
                    &--center {
                        text-align: center;
                    }
        
                    &__buttons {
                        display: flex;
                        justify-content: flex-start;
        
                        &--circle {
                            @extend .circleButton;
                            background-color: variables.$background;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 5px;
                            margin: 20px 5px;
                        }
        
                        &--color {
                            border-radius: 40px;
                            padding: 4px 8px;
                            color: variables.$white;
                            padding: 7px 20px;
                            text-wrap: nowrap;
                            border: none;
                        }
        
                        &--dot {
                            border: none;
                            background-color: variables.$white;
                        }
                    }
    
                }
            }
        
    

        }

    } 

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        &__text {
            font-size: 13px;
            color: variables.$text;
            margin: 0px;
            padding: 20px 10px;
        }

        &__paginate {
            @extend .paginate;
            & ul {
                margin: 0;
                & li {
                    margin: 0 3px;
                    & a {
                        font-size: 12px;
                        width: 13px;
                        height: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.3rem;
                    }
                }
            }
        }
    }
    
}

.orange {
    background-color: variables.$orange;
}

.purple {
    background-color: variables.$purple;
}

.yellow {
    background-color: variables.$yellow;
}