//theme color
$purple: #4D44B5;
$orange: #FB7D5B;
$yellow: #FCC43E;
$text: #303972;
$green: #4CBC9A;
$red: #FF4550;
$background: #F3F4FF;
$white: #FFFFFF;
$grey1: #F5F5F5;
$grey2: #C1BBEB;
$grey3: #A098AE;

//transaprent color: 
$purple-transparent: rgba(77, 68, 181, 0.1);
$linear1: linear-gradient(180deg, rgba(251, 125, 91, 1), rgba(251, 125, 91, 0) 100%);
$linear2: linear-gradient(180deg, rgba(252, 196, 62, 1), rgba(252, 196, 62, 0));
$linear3: linear-gradient(180deg, rgba(77, 68, 181, 1), rgba(77, 68, 181, 0));
